:root {
  --primary-color: #ffffff;
  --secondary-color: #fddda1;
  --accent-color: #7f9cf5;
  --nav-e-color: #004d4d;
  --background-load: rgb(47, 57, 59);
  --background-color: linear-gradient(105deg, #05161a, #134664);
  --name-color: rgb(197, 128, 128);
  --hover-color: #224963;
  --shadow-color: #000000;
  --box-shadow: 33px 33px 66px #0c3139,
    -33px -33px 66px #228599;
  --box-back: linear-gradient(145deg, #05161a, #196170);
  --effect-h: rgba(0, 0, 0, 0.7);
  --back-c:#dbdbdb;
  --max-width: 1480px;
}

.m-0 {
  margin: 0 auto;
}

.m-1 {
  margin: 10px auto;
}

.m-2 {
  margin: 15px;
}

.m-3 {
  margin: 20px auto;
}

.m-4 {
  margin: 30px auto;
}

.m-5 {
  margin: 10px;
}

.m-6 {
  margin: 0;
}
.m-7 {
  margin: 5px;
}

.m-8 {
  margin: 55px;
}

.mt-0 {
  margin-top: 5px;
}

.mt-1 {
  margin-top: 20px;
}
.mt-2 {
  margin-top: 25px;
}
.mb-1 {
margin-bottom: 20px;
}
.mt-3 {
  margin-top: 50px;
}

.mb-2 {
  margin-bottom: 15px;
}

.mr-1 {
  margin-right: 15px;
}

.ml-2 {
  margin-left: 15px;
}

.ml-3 {
  margin-left: 40px;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}
.p-3 {
  padding: 5px;
}

.p-4 {
  padding: 30px;
}

.p-5 {
  padding: 10px 15px;
}

.p-6 {
  padding: 5px 7.5px;
}

.p7-1 {
  padding: 15px;
}

.pt-1 {
  padding-top: 15px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 5px;
}

.pl-1 {
  padding-left: 20px;
}

.pr-2 {
  padding-right: 10px;
}



html {
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}

body {
  margin: 30px;
  min-height: 100vh;
  background: var(--background-color);
  color: var(--primary-color);
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-load);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loader {
  border: 8px solid var(--primary-color);
  border-top: 8px solid var(--accent-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.welcome {
  width: 170px;
  display: block;
}


.hamburger {
  cursor: pointer;
  /* NOTES: right align hamburger icon and give it a fixed width and height */
  width: 50px;
  height: 50px;
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 1;
}

.hamburger .line {
  display: block;
  width: 50px;
  height: 5px;
  background-color: var(--primary-color);
  /* NOTES: reduce the animation duration and animation opacity property for the second line */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger.active .line {
  width: 45px;
}

.hamburger.active .line:nth-child(1) {
  /* NOTES: move the first line 14px down and rotate it 45 degrees */
  transform: translateY(14px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  /* NOTES: move the third line 14px up and rotate it -45 degrees */
  transform: translateY(-14px) rotate(-45deg);
}


h1 {
  display: flex;
  justify-content: center;

}

.container-box {
  display: block;
  border-radius: 15px;
  max-width: var(--max-width);
  margin: auto;
}

.intro-section {
  display: flex;
  flex-direction: column;
}

.me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.me img {
  max-width: 50%;
  height: auto;
  border-radius: 15%;
  animation: floatAnimation 3s ease-in-out infinite alternate; /* Floating animation */
  transition: transform 0.5s ease-in-out; /* Smooth transition on hover */
}

.me:hover img {
  transform: scale(1.1); /* Zoom in on hover */
  animation: none; /* Stop the ongoing floating animation on hover */
  z-index: 2; /* Set a higher z-index value on hover */
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0); /* Initial position */
  }
  50% {
    transform: translateY(-10px); /* Float up */
  }
  100% {
    transform: translateY(0); /* Back to the initial position */
  }
}

@keyframes moveAnimation {
  0% {
    transform: translate(0, 0); /* Initial position */
  }
  25% {
    transform: translate(50px, -20px); /* Move diagonally up and right after 25% of the animation */
  }
  50% {
    transform: translate(0, -40px); /* Move up after 50% of the animation */
  }
  75% {
    transform: translate(-50px, -20px); /* Move diagonally up and left after 75% of the animation */
  }
  100% {
    transform: translate(0, 0); /* Back to the initial position */
  }
}


.hi {
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.2em;
  font-size: 3rem;
}

.name {
  color: var(--name-color);
  font-weight: bold;
  font-size: 3rem;
}

#contactForm {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;

}

.contact {
  max-width: 350px;
  border-radius: 12px;
  box-shadow: 0 8px 16px var(--name-color);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border-radius: 40px;
  background: var(--box-back);
  box-shadow: var(--box-shadow);
}

input,
textarea {
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  box-sizing: border-box;
}

.submit {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.contact-details {
  display: block;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.tell {
  color: var(--primary-color);
  font-size: 1rem;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.details,
a {
  text-decoration: none;
  font-weight: bold;
}

label {
  font-weight: bold;
  color: var(--primary-color);
}

input,
textarea {
  width: 50%;
  box-sizing: border-box;
  border: 0.5px solid var(--nav-e-color);
  border-radius: 4px;
}

button {
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.anchor:hover {
  background-color: var(--secondary-color);
}

#scrollUpBtn {
  display: none;
}


@media screen and (min-width: 700px) {

  body {
    margin: 0 80px;
    min-height: 100vh;
    background: var(--background-color);
    color: var(--primary-color);
  }

  .hamburger {
    display: none;
  }

  .welcome {
    width: 250px;
    display: block;
  }


  h1 {
    font-size: 2.5em;
    color: var(--hover-color);
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px var(--shadow-color);
    background-clip: text;
    color: transparent;
  }

  .container-box {
    display: flex;
    border-radius: 15px;
  }

  .me {
    justify-content: flex-end;
  }

  .intro-section:hover {
    background-color: var(--hover-color);
    border-radius: 15px;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
  }

  .tell {
    color: var(--primary-color);
    font-size: 1rem;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .details,
  a {
    text-decoration: none;
    font-weight: bold;

  }

  label {
    font-weight: bold;

  }

  input,
  textarea {
    width: 100%;
    box-sizing: border-box;
    border: 0.5px solid var(--secondary-color);
    border-radius: 4px;
    background-color: var(--nav-e-color);
    color: var(--primary-color);
  }

  button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-shadow: var(--box-shadow);
  }

  button:hover {
    background-color: var(--secondary-color);
  }

  #contactForm {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: var(--box-shadow);
    border-radius: 8px;

  }

  .contact {
    max-width: 350px;
    border-radius: 12px;
    box-shadow: 0 8px 16px var(--name-color);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 40px;
    background: var(--box-back);
    box-shadow: var(--box-shadow);
  }

  #scrollUpBtn {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    background: none;
  }

  #scrollUpBtn:hover {
    background-color: var(--secondary-color);
  }

  #scrollUpBtn img {
    width: 45px;
  }

}