:root {
  --primary-color: #ffffff;
  --secondary-color: #fddda1;
  --accent-color: #7f9cf5;
  --nav-e-color: #004d4d;
  --background-load:  rgb(47, 57, 59);
  --background-color: linear-gradient(135deg, #467592, #3a2927);
  --name-color: rgb(197, 128, 128);
  --hover-color: #224963;
  --shadow-color:  #000000;
}

html {
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}

body {
    margin: 20px;
    min-height: 100vh;
    background: var(--background-color);
    color: var(--primary-color);
  }

  .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-load);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .loader {
    border: 8px solid var(--primary-color);
    border-top: 8px solid var(--accent-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .welcome{
   width: 170px;
   margin: 0 auto;
   display: block;
   margin-top: 20px;
  }


.hamburger {
  cursor: pointer;
  margin-top: 25px;
  /* NOTES: right align hamburger icon and give it a fixed width and height */
  width: 50px;
  height: 50px;
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 1;
}

.hamburger .line {
  display: block;
  width: 50px;
  margin: 9px auto;
  height: 5px;
  background-color: var(--primary-color);
  /* NOTES: reduce the animation duration and animation opacity property for the second line */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger.active .line {
  width: 45px;
}

.hamburger.active .line:nth-child(1) {
  /* NOTES: move the first line 14px down and rotate it 45 degrees */
  transform: translateY(14px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  /* NOTES: move the third line 14px up and rotate it -45 degrees */
  transform: translateY(-14px) rotate(-45deg);
}


h1{
  display: flex;
  justify-content: center;

}

.intro-section {
  min-height: 40vh;
  font-size: 15px;
  color: var(--primary-color);
  padding: 30px;
  margin-left: 1rem;
  transition: background-color 1s ease, transform 0.3s ease;
}

.hi {
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.2em;
  font-family: cursive;
  font-size: 3rem;
}

.name {
  color: var(--name-color);
  font-weight: bold;
  font-size: 3rem;
}
#contactForm {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: var(--primary-color);
  border-radius: 8px;
  
}

.contact {
  max-width: 350px;
  margin: 30px auto; 
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px var(--name-color);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  box-sizing: border-box;
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  color: var(--primary-color);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.contact-details {
  display: block;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #dbe4be83;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.tell {
  color: var(--primary-color);
  font-size: 1rem;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.details,
a {
  text-decoration: none;
  font-weight: bold;
}

label {
  font-weight: bold;
  color: #5a5251;
}

input,
textarea {
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
  border: 0.5px solid var(--nav-e-color);
  border-radius: 4px;
}

button {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 5px 7.5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--accent-color);
}

#scrollUpBtn {
  display: none;
}


@media screen and (min-width: 700px) {

  body {
    margin: 0 80px;
    min-height: 100vh;
    background: var(--background-color);
    color: var(--primary-color);
  }

  .hamburger {
      display: none;
  }

  .welcome{
    width: 250px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
   }
 

  h1 {
      font-size: 2.5em;
      color: var(--hover-color);
      text-align: center;
      margin-bottom: 20px;
      text-shadow: 2px 2px 4px var(--shadow-color);
      -webkit-background-clip: text;
      color: transparent;
  }

  .intro-section {
    min-height: 40vh;
  }

  .container-box {
      display: flex;
      justify-content: center;
  }

  .intro-section {
      border-radius: 15px;
  }

  .intro-section:hover {
      background-color: var(--hover-color);
  }

  .contact-details {
      display: flex;
      flex-direction: column;
      padding-bottom: 5px;
  }

  .tell {
      margin: 0;
      color: var(--primary-color);
      font-size: 1rem;
      line-height: 1.5em;
      letter-spacing: 0.05em;
      text-transform: uppercase;
  }
 
  .details,
  a {
      text-decoration: none;
      font-weight: bold;
      
  }

  label {
      font-weight: bold;

  }

  input,
  textarea {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border: 0.5px solid var(--secondary-color);
      border-radius: 4px;
      background-color: var(--nav-e-color);
      color: var(--primary-color);
  }

  button {
      background-color: var(--accent-color);
      color: var(--primary-color);
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  button:hover {
      background-color:var(--accent-color);
  }

  #scrollUpBtn {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

#scrollUpBtn img {
    width: 45px;
}

}
