---
const pageTitle = "Contact Me";
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---
    <body>
      <Header />
          <main>
             <h1 class="contact-title">Contact me</h1>
            <div class="contact">
              <form action="submit_form.php" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="4" required></textarea>
                <button type="submit">Send Message</button>
              </form>
              <p>Contact me at: kingsleynji5@gmail.com</p>
            </div>
          </main>
            <Footer />
        </body>
           
         
