---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Contact Me";
---
     
            <BaseLayout pageTitle={pageTitle}>
              <div class="contact">
                <form>
                  <label for="name">Name:</label>
                  <input type="text" id="name" name="name" required>
                  <label for="email">Email:</label>
                  <input type="email" id="email" name="email" required>
                  <label for="message">Message:</label>
                  <textarea id="message" name="message" rows="4" required></textarea>
                  <button type="submit">Send Message</button>
                </form>
              </div>
              <section class="contact-details">
                <h2>Contact Details</h2>
                <p>Feel free to reach out through any of the following:</p>
                <p class="tell">Tell:+48 698168694</p>
                  <div class="details">
                    <button><a href="https://www.linkedin.com/in/nji-kingsley-awah-b31a40278?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BDEZm1ZUaR4qKX1DmRi0f8Q%3D%3D">linkedin</a></button>
                  </div>
              </section>
            </BaseLayout>
            
        
           
         
