---
const pageTitle = "Contact Me";
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---
    <body>
      <Header />
            <h1>{pageTitle}</h1>
        
          <main>
            <form action="submit_form.php" method="post">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required>
        
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required>
        
              <label for="message">Message:</label>
              <textarea id="message" name="message" rows="4" required></textarea>
        
              <button type="submit">Send Message</button>
            </form>
          </main>
            <p>Contact me at: kingsleynji5@gmail.com</p>
            <Footer />
        </body>
           
         
