---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = " WELCOME";
---
<BaseLayout pageTitle={pageTitle}>

    
    <section class="intro-section">
        <p>
          <h1>Hey, I'm Kingsley </h1> a frontend web developer passionate
          about web development. Despite lacking formal experience, I've mastered
          HTML, CSS, and JavaScript through hands-on learning. My journey includes
          exploring responsive design and modern frameworks like AstroDocs,
          Ubuntu, and Nodejs.
        </p>
      </section>
</BaseLayout>