---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = " WELCOME";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container-box">
    <section class="intro-section">
      <p class="hi">Hi, I'm <span class="name">Kingsley</span></p>
      <h3 class="hi">frontend web developer</h3>
      <h4>WELCOME TO MY SPACE</h4>
       i am passionate about web development, I've mastered HTML, CSS, and
      JavaScript through hands-on learning. My journey includes exploring
      responsive design and modern frameworks.
    </section>
  </div>
</BaseLayout>

