---
import Social from './Social.astro';
---
<style>
footer {
  color: var(--primary-color);
  padding: 40px;
  text-align: center;
  position: static;
 }

.footer-links{
  display: flex;
  justify-content: center;
  gap: 25px;
}

  </style>
<footer>
  <div class="footer-links">
    <Social platform="Github" username="njiking" />
    <Social platform="Linkedin" username="www.linkedin.com/in/nji-kingsley-awah" />
  </div>
  <p>Created by Nji Kingsley</p>
</footer>
  


