---
import Social from './Social.astro';
---
<style>
footer {
  color: #fff;
  padding: 20px;
  text-align: center;
 }
  </style>
<footer>
  <Social platform="Github" username="njiking" />
  <p>&copy; 2023 Kingsley. All rights reserved.</p>
</footer>
  