---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>
<style>
    a {
      padding: 0.5rem 1rem;
      color: white;
      text-decoration: none;
      position: relative;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      background-color: #3498db;
      border: none;
      border-radius: 7px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

  </style>